appdirs==1.4.3
atomicwrites==1.2.1
attrs==18.2.0
colorama==0.4.0
cycler==0.10.0
decorator==4.3.0
kiwisolver==1.0.1
Mako==1.2.2
MarkupSafe==1.0
matplotlib==3.0.0
more-itertools==4.3.0
numpy==1.15.2
pluggy==0.8.0
py==1.7.0
pycuda==2018.1+cuda92148
pyparsing==2.2.2
pytest==3.9.1
python-dateutil==2.7.3
pytools==2018.5.2
scikit-cuda==0.5.1
six==1.11.0
